<html>

<head>
  <title>Volumio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/lib/vendor/jquery-3.6.0.min.js"></script>
  <script src="/lib/vendor/socket.io.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?Noto+Sans+Display:wght@100;700&family=Roboto:wght@700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/lib/vendor/jquery-ui-1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="/stylesheets/css/volumio.css">
</head>

<body>
  <div id="header">
    <a href="<%- nowPlayingUrl %>"><%= i18n('NOW_PLAYING_SWITCH_TO_NP') %> <i class="fa fa-arrow-right"></i></a>
  </div>
  <div id="volumio-wrapper">
    <iframe src="<%- host %>"></iframe>
  </div>
</body>

<script type="module">
  import { init } from '/lib/startup.js';
  import { registry } from '/lib/registry.js';

  init({
    app: {
      host: '<%- host %>',
      version: '<%- pluginVersion %>',
      port: '<%- appPort %>'
    }
  });
  
  let socket = registry.socket;

  socket.on('connect', () => {
    $('#header').show();
  });

  socket.on('disconnect', () => {
    $('#header').hide();
  });

  socket.connect();
</script>

</html>